* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-primary-3);
}

h1 {
    font-size: 2rem;
    margin: 0.5rem;
}

canvas {
    border: 2px solid var(--clr-primary-base);
}

/* button {
    margin: 3px auto;
    border-radius: 13px;
    padding: 15px 15px;
    border: none;
    transition-duration: 0.4s;
} */