/*flex helpers*/
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.align-center {
    align-items: center;
}

.flex.align-flex-items {
    align-items: flex-start;
}

.flex.justify-center {
    justify-content: center;
}

.flex.flex-direction {
    flex-direction: column;
}


/*clean-list*/
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}