.main-header {
    background-color: var(--clr-primary-base);
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

ul>li>a {
    color: var(--clr-primary-2);
    text-decoration: none;
    font-size: 30px;
}

ul>li:last-child>a {
    padding-right: 0;
}


ul>li>a:hover {
    background-color: rgb(0, 238, 255);
    border-radius: 20%;
    cursor: pointer;
}