.Save-link {
    background-color: var(--clr-secondary-2);
    color: var(--clr-primary-1);
    width: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    text-decoration-line: none;
    transition-duration: 0.4s;
}

.Save-link:hover {
    background-color: var(--clr-secondary-4);
}