/*Mobile only*/
@media (max-width:740px) {
    .main-nav {
        position: fixed;
        inset: 0 0 0 auto;
        height: 100dvh;
        background-color: var(--clr-primary-base);
        border-inline-start: 1px solid var(--clr-primary-base);
        min-height: 200px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;

    }

    body.menu-open .main-nav {
        transform: translateX(0)
    }


    .main-nav-list {
        flex-direction: column;
    }

    .main-nav .main-nav-list>li {
        border-bottom: 1px solid var(--clr-primary-1);
    }

    .main-nav .main-nav-list a {
        display: grid;
        place-items: center;
        padding: 1em 16px;


    }

    .main-nav .main-nav-list a:hover {
        background-color: var(--clr-primary-2);
        color: var(--clr-primary-base);
    }
}






/*small*/
@media (max-width:740px) {
    .workspace-container {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .canvas-container {
        grid-row: 1;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .editor-container {
        grid-row: 2;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
}

/*MEDIUM*/
@media (min-width: 740px) and (max-width: 1024px) {
    .workspace-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height: auto;
    }

    .canvas-container {
        grid-column: 1;
        justify-self: end;
        width: 100%;
        max-width: 500px;
        margin: 0;
    }

    .editor-container {
        grid-column: 2;
        justify-self: start;
        width: 100%;
        max-width: 500px;
        margin: 0;
    }
}