/*PALLETTE*/
:root {
    /*primary color*/
    --clr-primary-base: #29b580;
    --clr-primary-1: #000000;
    --clr-primary-2: #FFFFFF;
    --clr-primary-3: #22252c;
    --clr-primary-4: #383b42;

    /*secondary colors*/
    --clr-secondary-1: #19a59f;
}